html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  --font-family-header: Helvetica, sans-serif;
  --font-family-body: var(--font-family-header);
  font-family: var(--font-family-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-header);
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

.links a{
  margin-top: 40px;
  width: 90%;
  max-width: 400px;
  position: relative;
  display: block;
}

.links a span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 30px;
  color: black;
  background-color:rgba(255, 255,255, 0.7);
  padding: 10px;
  border-radius: 3px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: lighter;
  transition: transform 200ms;
}

img{
  width: 100%;
  height: auto;
}

.links{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links a:hover span{
  
transform: translate(-50%,-50%) scale(1.1);
}

.intro {
  // max-width: 800px;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  // position: absolute;
  .content {
    margin: 0 auto;
    text-align: left;
  }
  &-row-1 {
    display: flex;
    flex-direction: row;
    img{
      border-radius: 50%;
      height: 100px;
      width: 100px;
      margin-right: 20px;
    }
  }
  .tagline {
    margin-top: 0px;
    font-weight: 100;
    color: #777;
  }
  h1 {
    margin-bottom: 5px;
  }

}